<!-- <a href="/"><span><DEXTER<</span></a>
  <li><a href="">Work</a></li>
  <li><a href="">About</a></li>
  <li><a href="">Contact</a></li>
<h1 style="font-size:3vw;" >Hi, my name is <strong>Shantanu Shukla</strong><br></h1> -->

<link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Press+Start+2P&display=swap" rel="stylesheet">
<div class="banner-text">
    <a href="/"><span class="one"><%</span> DEXTER <span> /></span></a>
    <ul>
			<li>Projects</li>
			<li>About</li>
			<li>Portfolio</li>
			<li>Services</li>
			<li>Contact</li>
		</ul>
    <h2>Hi, my name is <strong>Shantanu Shukla</strong><br></h2>
		<h2>I am a <div class="one"></div></h2>
	</div>
	<div class="animation-area">
		<ul class="box-area">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
      <li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
